/*-----------Slider Section------------*/
.carousel-caption {
    margin-bottom: 40px;
    padding: 14%;
}

.text-caption {
    padding: 0% 28%;
}

.carousel-item {
    height: 90vh;
}

.photo-shape {
    height: 100%;
    object-fit: cover;
}


/*--------All Margin Bottom---------*/
.margin-section {
    margin-bottom: 20px;
}

.img-section {
    width: 160px;
}

.optional {
    margin-left: -95px;
}


.text {
    text-decoration: none;
}